<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a th:href="@{/pages}">Go to About page</a>


</head>
<body>
<main>
 <p>
    Elektroninės bibliotekos informacinė sistema (toliau – eBiblioteka) – tai  elektroninė biblioteka, kurioje kaupiami ir viešai prieigai teikiami mokslo ir studijų dokumentai ir / arba jų metaduomenys.

    eBibilioteka sudaro:
    eBibilioteka tvarkytojų mokslo ir studijų dokumentų metaduomenų bazė;
    eBiblioteka naudotojų duomenų bazė;
    Lietuvos elektroninių tezių ir disertacijų duomenų bazė (ETD);
    Lietuvos mokslo (meno) ir studijų publikacijų duomenų bazė (PDB);
    elektroninių objektų talpykla;
    statistikos duomenų bazė;
    dokumentų atspaudų duomenų bazė;
    eBiblioteka administracinių duomenų bazė;
    Knygu duoenu baze;

  </p>
</main>

</body>
</html>