<!DOCTYPE html>
<html lang="en">
<head>
    <img th:src="@{/logo.png}"/>
    <title>About us</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <form th:action="@{/topics/filter}">
        <span th:text="#{Filter}">Filter:</span>
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        <input type="submit" value="Search" />
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="/topics/about" class="nav-link px-2 text-white">About</a></li>
        <li><a href="/topics/contact" class="nav-link px-2 text-white">Contact</a></li>
    </ul>
</head>
<aside>
<main>

<body>

<div>
    Elektroninės bibliotekos informacinė sistema (toliau – eBiblioteka) – tai  elektroninė biblioteka, kurioje kaupiami ir viešai prieigai teikiami mokslo ir studijų dokumentai ir  arba jų metaduomenys.
    eBibilioteka sudaro :
    eBibilioteka tvarkytojų mokslo ir studijų dokumentų metaduomenų bazė;
    eBiblioteka naudotojų duomenų bazė;
    Lietuvos elektroninių tezių ir disertacijų duomenų bazė (ETD);
    Lietuvos mokslo (meno) ir studijų publikacijų duomenų bazė (PDB);
    elektroninių objektų talpykla;
    statistikos duomenų bazė;
    dokumentų atspaudų duomenų bazė;
    eBiblioteka administracinių duomenų bazė;
    Knygu duoenu baze ;
</div>
</body>
</main>
    </aside>
  <p class="text-center text-muted">© 2021 Company, Inc</p>
</html>