
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Topics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<header th:insert="fragments/fragments.html :: header"></header>

<h1>New topic submission form</h1>


<form action="#" th:action="@{/topics/add}" th:object="${topic}"
      method="post" class="form">
    <div>
        <label for="title">Name</label> <input type="text" th:field="*{title}" id="title" placeholder="Enter title">
        <ul>
            <li th:each="err : ${#fields.errors('title')}" th:text="${err}"
                class="error"/>
        </ul>
    </div>
    <div>
        <label for="header">Name</label> <input type="text" th:field="*{header}" id="header" placeholder="Enter header">
        <ul>
            <li th:each="err : ${#fields.errors('header')}" th:text="${err}"
                class="error"/>
        </ul>
    </div>


    <input type="submit" value="Add Topic">
</form>

<footer th:insert="fragments/fragments.html :: footer"></footer>

</body>
</html>