<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <a th:href="@{/contact}">Go to Topics page</a>
    <link th:rel="stylesheet" href="css/topicdesign.cc">
</head>
<body>
<header>
    <img th:src="@{/logo.png}"/>
</header>
<img th:src="@{/images/E_Biblioteka.jpg}"/>
<img th:src="@{/contact.jpg}"/>
<style>
    .pagination a.active {
        background-color: #0a87da;
        color: #5bd8e3;
        border-radius: 20px;
    }
    table, th, td {
        border:1px solid black;
    }
</style>

    }

    <h2>Contact with us</h2>

    <table style="width:50%">
        <tr>
            <td>Email:Ebook@booking.com</td>
            <td>Phone+370600780 </td>
            <td>Adress:Tako str.25, Vilnius</td>
        </tr>
    </table>
    <table style="width:50%">
      <tr>
        <td>Admin Phone:+3706007755</td>
        <td>Manager:+3706007756</td>
        <td>Booking:+3706007757</td>
    </tr>
    </table>



<footer>

    <p class="text-center text-muted">All rights reserved &copy;2023</p>


</footer>

</body>
</html>