<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Topic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="fragments/fragments.html :: header"> </header>

<main>
    <div class="container mt-5 mb-1">
        <h3>Written by <span th:text="${topic.title}"></span></h3>
        <section th:text="${topic.header}"></section>
        <div th:each="comment : ${topic.comments}">
            <div class="card">
                <div class="card-header" th:text="${comment?.createdBy?.username}"></div>
                <div class="card-body">
                    <p class="card-text" th:text="${comment.text}"></p>
                    <div sec:authorize="hasAnyAuthority( 'USER' )">
                        <form action="#" th:action="@{/topics/delet/{id}(id=${topic.id})}" th:object="${topics}"
                              method="post" class="form">
                            <input class="btn btn-danger" type="submit" th:value="deletComment">

                        </form>
                    </div>
</div>
            </div>
        </div>
    </div>

<h3>New comment submission form</h3>
<form th:action="@{/topics/__${id}__}" th:object="${comment}" method="post">
    <p>
        <label>Add comment:
            <input type="hidden" th:field="*{id}" id="id">
            <input type="text" th:field="*{text}" />
        </label>
    </p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>


<a th:href="@{/topics}">Got to List all topics page</a>
</main>

<footer th:replace="fragments/fragments.html :: footer"> </footer>
</body>
</html>