<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apie mus</title>
    <script type="text/javascript" th:src="@{/scripts.js}" defer></script>
    <link rel="stylesheet" th:href="@{/topicdesign.css}">

            <h1 th:rel="stylesheet" href="@{/static/topicmeniu.css}"><h1>
              <h1 th:rel="stylesheet" href="@{/static/topicout.css}"></h1>


<body>
<header>
    <div>LOGO</div>
    <nav>
        <h1 th:text:="${'Sveiki' +param.name }">
            Sveiki atvyke video i ebiblioteka!
            <h1 th:title="Svetaines pavadinimas"></h1>


        </h1>
        </nav>


</header>
<aside>

    <span>Aside</span>
</aside>

<main>
    <img th:src=" logo.png"/>
    <img th:src="img/logo.png"/>
    <img th:src="/img/logo.png" alt=""/>
    <a th:href="img/logo.png"/>Logo</a>
    <div class="Knygos">

    </div>


    <p>
    <p>
        Elektroninės bibliotekos informacinė sistema (toliau – eBiblioteka) – tai elektroninė biblioteka, kurioje
        kaupiami ir viešai prieigai teikiami mokslo ir studijų dokumentai ir / arba jų metaduomenys.

        eBibilioteka sudaro:
        eBibilioteka tvarkytojų mokslo ir studijų dokumentų metaduomenų bazė;
        eBiblioteka naudotojų duomenų bazė;
        Lietuvos elektroninių tezių ir disertacijų duomenų bazė (ETD);
        Lietuvos mokslo (meno) ir studijų publikacijų duomenų bazė (PDB);
        elektroninių objektų talpykla;
        statistikos duomenų bazė;
        dokumentų atspaudų duomenų bazė;
        eBiblioteka administracinių duomenų bazė;
        Knygu duoenu baze;
    </p>
</main>
<footer>

    <h4>
        <th: href="/index.html">Home</th:>
    </h4>
    <h4>
        <th: href="/about.html">About us</th:>
    </h4>
    <h4>
        <th: href="/Books.html">Books</th:>
    </h4>
    <h4>
        <th: href="/contacts.html">Contact us</th:>
    </h4>

    <div> All rights reserved 2023</div>
</footer>

</body>
</html>